name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - 
- name: Build with Buildozer
  uses: digreatbrian/buildozer-action@v2
  with:
    buildozer-cmd: buildozer android debug
